body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    min-width: 1000px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.right-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    gap: 16px;
    align-items: center;
    color: #E5E7EB;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

.landing-page {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    gap: 64px;
    flex-basis: 600px;
    align-items: center;
}

.text {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    flex-direction: start;
    align-items: flex-start;
}

.text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    flex-basis: 600px;
    margin: 0 auto;
    gap: 80px;
}

.information h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0;
}
.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    text-align: center;
    inline-size: 200px;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border: 4px solid #3882F6;
    box-sizing: border-box; 
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    inline-size: 840px;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
}

.author {
    font-weight: 900;
    font-size: 18px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}